*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: #f4f7fb;
    color: #253238;
}
header{
    background: linear-gradient(120deg,#1bc8fd,#0d44ea);
    color:#fff;
    padding: 60px 20px;
    text-align: center;
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}
section{
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom:24px ;
    box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}
section h2{
    margin-top: 10px;
    text-align: center;
    background: #e8edf4;
    font-size: 0.9rem;
    padding: 25px;
}
section button{
    width: 100%;
    background-color: #06a7f3;
    color: #fff;
    padding: 15px 32px;
    border-radius: 12px;
    border: 1px solid gray;
    font-size: 16px;
    cursor: pointer;  
    text-align: center;
     text-decoration: none;
}
section button:hover{
    background-color: #053649;
    color: white;
    border: 2px solid rgb(1, 239, 227);
}